a {
    color: #E78200;
}

select.form-control {
    width: auto;
}

#otherType {
    color: red;
    margin-left: 50px;
}

#otherType input {
     background-color: #eeffe6;
}

.other {
    display: none;
}

.strong {
    font-weight: bold;
    display: inline-block;
}

.red {
    color: red;
    font-weight: bold;
}

input.floatRight {
    width: 150px;
    float: right;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


